### Copyright 2020 Pixar

###
###    Licensed under the Apache License, Version 2.0 (the "Apache License")
###    with the following modification; you may not use this file except in
###    compliance with the Apache License and the following modification to it:
###    Section 6. Trademarks. is deleted and replaced with:
###
###    6. Trademarks. This License does not grant permission to use the trade
###       names, trademarks, service marks, or product names of the Licensor
###       and its affiliates, except as required to comply with Section 4(c) of
###       the License and to reproduce the content of the NOTICE file.
###
###    You may obtain a copy of the Apache License at
###
###        http://www.apache.org/licenses/LICENSE-2.0
###
###    Unless required by applicable law or agreed to in writing, software
###    distributed under the Apache License with the above modification is
###    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
###    KIND, either express or implied. See the Apache License for the specific
###    language governing permissions and limitations under the Apache License.
###

#####################
#
#     ruby-jss configuration.
#
# This file should be stored at /etc/ruby-jss.conf
# on all machines that use ruby-jss
#
# A personal copy can also be stored in your home folder as
# ~/.ruby-jss.conf  and the settings there will override those
# from the system-wide file in /etc.
#
# When the JSS module is loaded, the conf files are read into
# an instance of JSS::Configuration, and stored in the constant JSS::CONFIG
#
# The values loaded are used by default for making API and database connections.
# However, they can be overridden per-connection by specifying values when
# calling the #connect methods.
#
# The file format is one attribute per line, thus:
#
#     attr_name: value
#
# Lines that don't start with a known attribute name followed by a colon
# are ignored. If an attribute is defined more than once, the last one wins.
#
# Known attributes are listed and defined in the ruby-jss.conf.default file
# in the rubygem folder's data folder
# (e.g. /Library/Ruby/Gems/2.0.0/gems/ruby-jss-0.6.3/data/ruby-jss.conf.default )
#
# The conf file may be edited with any text editor, however developers should
# look at the manipulation methods in the JSS::Configuration class.
#

### - api_server_name
###   The hostname of the server for JSS REST API connections.
###
###   *** REQUIRED ***
###
###   NOTE, this is the (fully-qualified) hostname, e.g.
###   'casper.myorg.org'. Don't use a URL.
###
###   If you leave this blank:
###   d3 will not work, nor any other code that expects a
###   configured hostname
###
api_server_name:

### - api_server_port
###   The port for connecting to the JSS REST API
###
###   If you leave this blank:
###   Defaults to 8443
###
api_server_port:

### - api_ssl_version
###   The SSL version to use for the API connection
###
###   If you leave this blank:
###   Defaults to 'TLSv1_2'
###
api_ssl_version:

### - api_verify_cert
###   Should the API connections require a verifiable/trusted certificate?
###   If you are using a self-signed cert. for your JSS, and have not
###   deployed it as a trusted cert on all your clients, you should
###   set this to 'false', and be aware of the risks.
###
###   If you leave this blank:
###   Defaults to true
###
api_verify_cert:

### - api_username
###   The username to use when making an API connection.
###
###   Note that the passwords are not storeable here!!
###     see https://github.com/PixarAnimationStudios/ruby-jss/blob/master/README.md#password
###
api_username:

### - api_timeout_open
###   The timeout (in seconds) for connecting to the API
###
###   If you leave this blank:
###   Defaults to 60
###
api_timeout_open:

### - api_timeout
###   The response timeout (in seconds) for API requests
###
###   If you leave this blank:
###   Defaults to 60
###
api_timeout:

### - db_server_name
###   The hostname of the server for JSS MySQL connections.
###
###
###   *** REQUIRED for d3 ***
###
###   Note: if you aren't accessing the database directly,
###   you don't need this.  However, if you're using d3
###   you will need this.
###
###   NOTE, this is the (fully-qualified) hostname, e.g.
###   'casper.myorg.org'. Don't provide a URL.
###
###   If you leave this blank:
###   d3 will break, and any other code that expects a
###   configured database server name
###
db_server_name:

### - db_server_port
###   The port for MySQL connections
###
###   If you leave this blank:
###   Defaults defaults to 3306
###
db_server_port:

### - db_server_socket
###   The MySQL socket path, if needed for local connections
###
###   If you leave this blank:
###   Defaults to '/var/mysql/mysql.sock'
###
db_server_socket:

### - db_username
###   The username for MySQL connections
###
###   If you leave this blank:
###   d3 might break, as well as any other code that expiects
###   a configured db user name
###
db_username:

### - db_name
###
###
###   The name of the MySQL database that holds JSS data
###
###   If you leave this blank:
###   Defaults to 'jamfsoftware'
###
db_name:

### - db_connect_timeout
###   The timeout (in seconds) for connecting to the database
###
###   If you leave this blank:
###   Defaults to 60
###
db_connect_timeout:

### - db_read_timeout
###   The timeout (in seconds) for reading results from the database
###
###   If you leave this blank:
###   Defaults to 60
###
db_read_timeout:

### - db_write_timeout
###   The timeout (in seconds) for writing to the database
###
###   If you leave this blank:
###   Defaults to 60
###
db_write_timeout:
